<div class="container border-top">
  <footer class="py-3 mb-3">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a asp-page="/About" class="nav-link px-2 text-body-secondary">Proje Hakkında</a></li>
      <li class="nav-item"><a asp-page="/Contact" class="nav-link px-2 text-body-secondary">İletişim</a></li>
    </ul>
    <p class="text-center text-body-secondary">BilgeAdam Akademi | Recep Ersin Uluağaç</p>
  </footer>
</div>