<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-house"></i> NetBlog
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">
            Ana Sayfa
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Gönderiler
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" asp-controller="Post" asp-action="Index">
                Gönderiler (@await Component.InvokeAsync("PostSummary"))
              </a>
            </li>
            <li>
              <a class="dropdown-item" asp-controller="Post" asp-action="Create">
                Gönderi Oluştur
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">

        <partial name="_SignMenu" />
      </ul>
    </div>
  </div>
</nav>