@if (User.Identity.IsAuthenticated)
{
  @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
  {
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" target="_blank" asp-area="Admin" asp-controller="Dashboard"
        asp-action="Index">
        <i class="fa-solid fa-gears"></i> Panel
      </a>
    </li>
  }
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Profil
    </a>
    <ul class="dropdown-menu">
      <li>
        <a asp-controller="Account" asp-action="Profile" class="dropdown-item">
          <i class="fa-solid fa-user mx-2"></i>Profilim
        </a>
      </li>
      <li>
        <a class="dropdown-item">
          <i class="fa-solid fa-file mx-2"></i>Gönderilerim
        </a>
      </li>
      <li>
        <a class="dropdown-item">
          <i class="fa-solid fa-heart mx-2"></i>Beğendiklerim
        </a>
      </li>
      <li>
        <a class="dropdown-item">
          <i class="fa-solid fa-list mx-2"></i>Okuma Listem
        </a>
      </li>
      <li>
        <a class="dropdown-item" asp-controller="Account" asp-action="SignOut">
          <i class="fa-solid fa-right-from-bracket mx-2"></i>Çıkış
        </a>
      </li>
    </ul>
  </li>
}
else
{
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="SignIn"
      asp-route-returnUrl="@Context.Request.Path">
      <i class="fa-solid fa-user"></i> Giriş
    </a>
  </li>
}
