@model IEnumerable<UserWithRoleDto>

<div class="text-center py-3">
  <h1 class="display-1">Kullanıcılar</h1>
</div>
<table class="table">
  <thead class="">
    <tr>
      <td>Kullanıcı Adı</td>
      <td>E-posta Adresi</td>
      <td>Rol</td>
      <td>Operasyon</td>
    </tr>
  </thead>
  <tbody>
    @foreach (UserWithRoleDto user in Model)
    {
      <tr>
        <td>@user.Username</td>
        <td>@user.Email</td>
        <td>@user.Role</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-sm btn-outline-secondary">Güncelle</a>
            <a class="btn btn-sm btn-outline-danger">Sil</a>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>