@model IEnumerable<Category>

<div class="text-center py-3">
  <h1 class="display-1">Kategoriler</h1>
</div>
<ul class="list-group">
  @foreach (var category in Model)
  {
    <li class="list-group-item">
      @category.Name
    </li>
  }
</ul>