@model IEnumerable<Category>

<div class="text-center py-3">
  <h1 class="display-1">Kategoriler</h1>
</div>
<div class="d-flex justify-content-end my-2">
  <div class="btn-group">
    <a asp-action="Create" class="btn btn-outline-success">
      <i class="fa-solid fa-plus"></i>
      Yeni Kategori Oluştur
      </a>
  </div>
</div>

<ul class="list-group">
  @foreach (var category in Model)
  {
    <li class="list-group-item">
      @category.Name
    </li>
  }
</ul>