@model IEnumerable<IdentityRole>

<div class="text-center py-3">
  <h1 class="display-1">Roller</h1>
</div>
<ul class="list-group">
  @foreach (var role in Model)
  {
    <li class="list-group-item">
      @role.Name
    </li>
  }
</ul>