<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="/Admin">
      <i class="fa-solid fa-house"></i> Admin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-controller="Dashboard" asp-action="Index">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-controller="Post" asp-action="Index">
            Gönderiler (@await Component.InvokeAsync("PostSummary"))
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-controller="Category" asp-action="Index">
            Kategoriler
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" target="_blank" asp-area="" asp-controller="Home" asp-action="Index">
            NetBlog
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>