@model IEnumerable<Category>

<div class="nav-scroller py-1 mb-3 border-bottom">
  <div class="nav nav-underline justify-content-between">
    @foreach (var category in Model)
    {
      <li class="nav-item nav-link link-body-emphasis">
        @category.Name
      </li>
    }
  </div>
</div>