@model PostDto

@section Styles {
  <link rel="stylesheet" href="~/lib/summernote/summernote-bs5.min.css" />
}
<div class="text-center">
  <div>
    <h2 class="display-2">
      Yeni Gönderi Oluştur
    </h2>
  </div>
</div>
<form method="post" asp-action="Create" enctype="multipart/form-data">
  <div class="text-danger" asp-validation-summary="All"></div> @* Form hataları için *@
  <div class="form-group my-3">
    <label asp-for="CategoryId">Kategori</label>
    <select class="form-control" asp-items="@ViewBag.Categories" asp-for="CategoryId">
      @* Kategori listesi *@
    </select>
  </div>
  <div class="form-group my-3">
    <label asp-for="Title" class="form-label fs-5">Başlık</label>
    <input asp-for="Title" class="form-control" />
  </div>
  <div class="form-group my-3">
    <label asp-for="Summary" class="form-label fs-5">Özet</label>
    <input asp-for="Summary" class="form-control" />
  </div>


  <div class="form-group my-3">
    <label asp-for="Content" class="form-label fs-5">İçerik</label>
    <textarea asp-for="Content" class="form-control"></textarea>
  </div>


  <div class="form-group my-3">
    <label asp-for="ImageUrl" class="form-label fs-5">Kapak Resmi</label>
    <input name="file" type="file" class="form-control" />
  </div>
  <div class="form-group my-3">
    <div class="btn-group">
      <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="fa-solid fa-arrow-left"></i> Gönderiler
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa-solid fa-paper-plane"></i> Gönder
      </button>
    </div>
  </div>
</form>
@section Scripts {
  <script src="~/lib/summernote/summernote-bs5.min.js"></script>
  <script>
    $(function () {
      $('#Content').summernote({
        lang: "tr-TR"
      });
    })
  </script>
}