@model UIWeb.Models.Post
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <h1>@Model.Title</h1>
    <p>@Model.Content</p>
    <a href="/Post">Geri dön.</a>
  </div>
</body>

</html>