@model Post

<div>
  <h1>@Model.Title</h1>
  <p>@Model.Content</p>
  <a class="btn btn-sm btn-secondary"
    asp-controller="Post" asp-action="Index">
    <i class="fa-solid fa-arrow-left"></i> Geri dön
  </a>
  <div class="btn-group">
    <a class="btn btn-sm btn-outline-danger">Beğen</a>
    <a class="btn btn-sm btn-outline-primary">Yorum Yap</a>
    <a class="btn btn-sm btn-outline-success">Okuma Listeme Ekle</a>
  </div>
</div>