@model IQueryable<Post>
<div class="col">
  @await Component.InvokeAsync("CategoriesMenu")
</div>
<div class="row">
  <div class="col">
    <div class="row">
      @foreach (Post p in Model)
      {
        <partial name="_PostCard" model="@p" />
      }
    </div>
  </div>
</div>