@model PostListViewModel

<div class="row">
  <div class="col">
    @await Component.InvokeAsync("CategoriesMenu")
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    @await Component.InvokeAsync("PostFilterMenu")
  </div>
  <div class="col-md-10">
    <div class="row">
      @foreach (PostDtoWithDetails p in Model.Posts)
      {
        if (p.IsDeleted.Equals(false))
        {
          <partial name="_PostCard" model="@p" />
        }
      }
    </div>
    <div class="text-center">
      <div page-model="@Model?.Pagination" page-action="Index" page-classes-enabled="true" page-class="btn"
        page-class-normal="btn-outline-dark" page-class-selected="btn-dark" class="btn-group">
      </div>
    </div>
  </div>
</div>