@model IQueryable<Post>

<div class="row">
  <div class="col-md-3">
    @await Component.InvokeAsync("CategoriesMenu")
  </div>
  <div class="col-md-9">
    <div class="row">
      @foreach (Post p in Model)
      {
        <partial name="_PostCard" model="@p" />
      }
    </div>
  </div>
</div>
