<div class="text-center my-5">
  <h3 class="display-3">
    <i class="fa-solid fa-bug-slash
    "></i>
    Erişim Engeli
  </h3>
</div>
<div class="text-center my-5">
  <div class="lead">
    <p>Erişim izni olmayan sayfa, lütfen geri dönün.</p>
  </div>
  <div class="btn-group my-5"></div>
  <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
    Ana Sayfa
  </a>
  <a class="btn btn-outline-secondary" asp-controller="Post" asp-action="Index">
    Gönderiler
  </a>
  <a class="btn btn-outline-secondary" asp-page="/contact">
    İletişim
  </a>
</div>