@model ResetPasswordDto

<div class="text-center mt-5 pt-5 mb-3">
  <div class="display-4">
    <i class="fa-solid fa-key mx-2"></i>
    @Model?.UserName
  </div>
  <h6>
    
  </h6>
</div>

<div class="row p-5">
  <div class="col-md-3"> </div>
  <div class="col-md-6 px-5">
    <div>
      <div class="text-danger" asp-validation-summary="All"></div>
    </div>
    <form method="post" asp-action="ResetPassword">
      <input type="hidden" asp-for="UserName" />
      <div class="form-group my-1">
        <label asp-for="OldPassword">Eski Parola</label>
        <input asp-for="OldPassword" type="password" class="form-control" minlength="6" required />
        <label asp-for="Password">Parola</label>
        <input asp-for="Password" type="password" class="form-control" minlength="6" required />
        <label asp-for="ConfirmPassword">Parola Tekrar</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" minlength="6" required />
      </div>
      <div class="btn-group my-3 d-flex justify-content-center">
        <a asp-action="Profile" class="btn btn-outline-secondary">
          Vazgeç
        </a>
        <button type="submit" class="btn btn-outline-success">
          Parola Değiştir
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-3"> </div>
</div>
