<div class="row g-3 py-5">
  <div class="col-lg-6">
    <div class="card bg-primary text-white" style="width: 18rem;">
      <div class="card-body text-center">
        <h6 class="card-subtitle mb-2">Toplam</h6>
        <h5 class="card-title"><b>Üyeler</b></h5>
        <h5 class="text-center display-5">@await Component.InvokeAsync("MemberSummary")</h5>
        <a asp-controller="User" asp-action="Index" class="card-link text-white">Üyeler</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card bg-danger text-white" style="width: 18rem;">
      <div class="card-body text-center">
        <h6 class="card-subtitle mb-2">Toplam</h6>
        <h5 class="card-title"><b>Gönderiler</b></h5>
        <h5 class="text-center display-5">@await Component.InvokeAsync("PostSummary")</h5>
        <a asp-controller="Post" asp-action="Index" class="card-link text-white">Gönderiler</a>
        <a asp-area="" asp-controller="Post" asp-action="Index" class="card-link text-white">Sayfada Gör</a>
      </div>
    </div>
  </div>
</div>
<div class="row g-3 py-5">
  <div class="col-lg-6">
    <div class="card bg-info text-white" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Kaç Yorum Yapıldı?</b></h5>
        <h5 class="text-center display-5">@await Component.InvokeAsync("AllCommentSummary")</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card bg-warning text-white" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Kaç Beğeni Yapıldı?</b></h5>
        <h5 class="text-center display-5">@await Component.InvokeAsync("AllLikeSummary")</h5>
      </div>
    </div>
  </div>
</div>